*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #10192b;
    color: #bdc1c6;
    
}

.off {
    display: none;
}

.loader-container.hidden {   

    opacity: 0;
    visibility: hidden;
}

.gamesMonthAndYear{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: white;
    padding-top: 0.5rem;
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c121d;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.loader-container p {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color:#bdc1c6;
    margin-top: 15rem;
}

.loader {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    border: 20px solid #fb5924;
    border-radius: 50%;
    border-top: 20px solid #1D2C49;
    animation: loading 2s ease infinite;
}

@keyframes loading {
   from {
    transform: rotate(0turn);
   }
   to{
    transform: rotate(1turn);
   }     
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    background-color: #fb5924;
    color: #1D2C49;
}

ul {
    list-style: none;

}


.nba-logo {
    margin-left: 15rem;
    width: 15rem;
    height: auto;
}




.navbar__links {
    display: flex;
}

.navbar__links a {
    padding: 0 1rem;
    font-size: larger;
    font-weight:lighter;
}

.navbar__links a:hover {
   color: #fafafa; 
   transition: ease-in-out 0.3s;
   cursor: pointer;
}



.buger {
    display: none;
}

/*SMALL DEVICE  */

@media screen and (max-width: 768px){ 

    .navbar{
        position: fixed;
        justify-content: space-between;
    }

    .nba-logo {
        margin-left: 1rem;
        width: 8rem;
        height: auto;
    }
    
    .navbar__links{
        display: flex;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 10px);
        position: absolute;
        top: 85px;
        right: 0;
        background-color: #0c121d;
        color: #fb5924;
        font-weight: lighter;
        transition:all ease-in-out 0.3s;
    }


    .show-nav .navbar__links{
      width: 100%;  
    }


    .navbar__links a{
       display: block; 
       padding: 2rem;
       padding-left: 3rem;
       font-size: 2rem;
       transition:all ease-in-out 0.3s;
    }

    .navbar__links a:hover{
        padding-left: 4rem;
        
       
    }

    .burger{
        display: block;
        position: relative;
        margin-right: 1rem;
        margin-top: 0.5rem;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }


    .bar {
        display: block;
        margin-top:1rem;
        width: 45px;
        height: 6px;
        background-color: #0c121d;
        border-radius: 3px;
        transition: all ease-in-out 0.3s;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .bar::after, .bar::before {
        content: "";
        width: 45px;
        height: 6px;
        background-color: #0c121d;
        border-radius: 3px;
        position: absolute;
        transition: all ease-in-out 0.3s;
    }
    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar::before {
        transform: rotate(-45deg);
    }

    .show-nav .bar::after {
        transform: rotate(45deg);
    }

}







main {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 2rem 4rem 2rem;
}

@media screen and (max-width: 640px){
   main 
   {padding: 0 0 2rem 0;

   } 
}



.dateWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#0c121d;
width: 100%;
margin-bottom: 0.5rem;
}

.dateWrapperButtons {
    display: flex;
}

@media screen and (max-width: 768px){
    
    .dateWrapper {
        margin-top: 5rem;

    }
    
    
    .dateWrapperButtons {
        width: 100%;
    } 
}

.dateWrapperButtons button {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: larger;
    font-family: 'Anton', sans-serif;
    height: 2.6rem;  
    width: 6rem;
    margin: 0;
}





.dateWrapperButtons button:hover {
    cursor: pointer;
    background-color: #10192b;
    border-bottom: 1px solid #fb5924;
    ;
    color:white;
    transition: ease-in-out 0.5s;   
}


.selected {
    background-color: #10192b;
    border-bottom: 1px solid #fb5924;
    color:white;
}

.no-selected {
    color:#bdc1c6;
    background-color: #0c121d;
    border-bottom: 1px solid #0c121d;
}


.first-section {
    width: 100%;
}

.forth-section__container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color:#bdc1c6;
    border-radius: 8px;
}


.teamSelected{
    margin: 1rem;
    background-color: #000000c9;
    padding: 0.5rem;
}

@media screen and (max-width: 640px){
    .first-section {
        margin: 0;
    }  
}

.cardImage {
    height:auto;
    width: 35px;
    
}


/*=====NOUVEAU TABLEAU CLASSEMENTS=====*/
.standingsTable {
    margin-left: auto;
    margin-right:auto ;
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #05070c;  
}

@media screen and (max-width: 768px){
    .standingsTable{

        width: 95%;
    } 
 }


thead th:nth-child(1) {
    width: 0.5%;
  }
  
  thead th:nth-child(2) {
    width: 1%;
    
  }
  
  thead th:nth-child(3) {
    width: 12%;
    
  }

  thead th:nth-child(4) {
    width: 1%;
  }
  thead th:nth-child(5) {
    width: 1%;
  }
  thead th:nth-child(6) {
    width: 1%;
  }

  thead th:nth-child(7) {
    width: 1%;
  }

  th, td {
    padding: 0.5rem;
    text-align: center;
  }

tbody tr:nth-child(6) {
    border-bottom: #bdc1c6 1px dotted;
}

tbody tr:nth-child(10) {
    border-bottom: #bdc1c6 1px solid;
}

tbody tr:nth-child(odd) {
    background-color: #1d2c49;    
  }
  
tbody tr:nth-child(even) {
    
    background-color: #19263d;
  }

  tbody tr:hover {
    color:white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color:#05070c;
  }

.cardElements{
    height: 4rem;
    font-size: 20px;
}

.cardName {
    text-align: left;
}

@media screen and (max-width: 640px){
    .cardRank {
        font-size: 14px;
    }
    
    .cardName {
        font-size: 14px;
        font-weight: normal;
        text-align: left;
    }

    .cardWin {
        font-size: 14px;
    }

    .cardLost {
        font-size: 14px;
    }
    .cardPercentage {
        font-size: 14px;
    }

}




/*=====TABLEAU D'UN MATCH=====*/


.headGame {
    border-radius: 7px;
    background-color: #0c121d;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem; 
}

.headGame p {
    font-size: 50px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}


.headGameHome {
    display: flex;
    align-items: center;

}

.headGameImageHome {
    height:auto;
    width: 100px;
    
}

.gameHomeTeamName{
    width: 17rem;
}


.headGameVisitor {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    

}

.headGameImageVisitor {
    height:auto;
    width: 100px;
    
    
}

.gameVisitorTeamName{
    width: 17rem;
}

.gameContainer {
    display: flex;
}

@media screen and (max-width: 768px){
    

    .headGame {
    width: 85%;
    }

    .headGameImageHome {
        height:auto;
        width: 70px;
        
    }
    
    .headGameImageVisitor {
        height:auto;
        width: 70px;
    }
     
    .headGame p {
        font-size: 30px;
    }

    
    .gameContainer {
       
        flex-direction: column;
    }

}

.gameTable{
    margin-left: auto;
    margin-right:auto ;
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #0c121d; 
    font-size: 18px;
}

.playerLogo {
    width: 35px;
    height: auto;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px){
    .gameTable{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        font-size: 12px;
        font-weight: normal;
    }

}

.gameTable th:nth-child(1){
    text-align: center;
}

.gameTable th:nth-child(2){
    text-align: left;
}

.gameTable thead th:nth-child(1) {
    width: 0.2%;
    
  }

.gameTable thead th:nth-child(2) {
    width: 8%;
}

.gameTable thead th:nth-child(3) {
    width: 0.5%;
}

.gameTable thead th:nth-child(4) {
    width: 0.5%;
}

.gameTable thead th:nth-child(5) {
    width: 0.5%;
}

.gameTable tbody tr:nth-child(6) {
    border-bottom: none;
}

.gameTable tbody tr:nth-child(10) {
    border-bottom: none;
}


/*=====CSS POUR LES MATCHS=====*/





.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0.5rem 5rem 2rem 5rem ;
}


@media screen and (max-width:640px){
    .games {
        margin:  0.5rem 0 0.5rem 0 ;
    }
}

.idGame {
  display: none;     
}

.no-game{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}



.gameCardButton {
    border-radius: 8px;
    background-color: #0c121d;
    border: none;
    display: flex;
    flex-direction: center;
    color:#d8d8d8;
    letter-spacing: 2px;
    margin: 0.5rem;
    font-family: 'Anton', sans-serif;
    width: 25rem;
    transition: all ease-in-out 0.3s;
   
    
}

.gameCardButton.off {
    display: none;
}

.gameCardButton:hover {
    cursor: pointer;
    color: white;
    height: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.gameHour{
    font-size: 30px;
    padding: 4rem 0.5rem 3rem 0.5rem;

}

@media screen and (max-width:640px){
    .gameHour {
        padding: 2.5rem 0.5rem 1rem 0.5rem;
    }
}

.homeTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 10rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgb(44, 0, 0);
}

@media screen and (max-width:640px){
    .homeTeam {
        height: 8rem;
    }
}

.visitorTeam {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 50%;
    height: 10rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgb(0, 108, 209);
}

@media screen and (max-width:640px){
    .visitorTeam {
        height: 8rem;
    }
}


.gameData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0.2rem;
}

.gameData p {
    display: flex;
    font-weight: bold;
    font-size: 50px;
}


@media screen and (max-width: 640px){
    .gameData p {
        font-size: 35px;
    }
}


.homeTeamScore {
    font-size: 50px;
}



.visitorTeamScore {
    font-size: x-large;
}

.gameCardImageVisitor , .gameCardImageHome{
    width: 50%;
    margin: auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
   
}

/*BACKGROUND COLORS DE CHAQUE EQUIPE*/


/*CONF EST*/
.BOS {
    background: rgb(0, 129, 11);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.MIL {
    background: rgb(0, 75, 16);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/3/34/Bucks2015.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.PHI{
    background: rgb(29, 116, 216);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/4/48/76ers_2016.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.CLE{
    background: rgb(44, 0, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/thumb/0/06/Cavs_de_Cleveland_logo_2017.png/150px-Cavs_de_Cleveland_logo_2017.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.BKN{
    background: rgb(39, 39, 39);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Brooklyn_Nets_newlogo.svg/130px-Brooklyn_Nets_newlogo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.MIA{
    background: rgb(77, 0, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.NYK{
    background: rgb(216, 86, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/3/34/Knicks_de_NY.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ATL{
    background: rgb(255, 40, 40);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.WAS{
    background: rgb(231, 231, 231);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/archive/d/d6/20161212034849%21Wizards2015.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.TOR{
    background: rgb(24, 24, 24);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/8/89/Raptors2015.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.CHI{
    background: rgb(165, 0, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/thumb/d/d1/Bulls_de_Chicago_logo.svg/1200px-Bulls_de_Chicago_logo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.IND {
    background: rgb(212, 156, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/thumb/c/cf/Pacers_de_l%27Indiana_logo.svg/1180px-Pacers_de_l%27Indiana_logo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ORL{
    background: rgb(72, 196, 253);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/b/bd/Orlando_Magic_logo_2010.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.CHA {
    background: rgb(0, 160, 172);
    background-image: url(https://upload.wikimedia.org/wikipedia/fr/thumb/f/f3/Hornets_de_Charlotte_logo.svg/1200px-Hornets_de_Charlotte_logo.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.DET {
    background: rgb(0, 71, 177);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Detroit_Pistons_primary_logo_2017.png/150px-Detroit_Pistons_primary_logo_2017.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*CONF OUEST*/
.MEM {
    background: rgb(0, 42, 121);
}

.MIN {
    background: rgb(0, 63, 134);
}

.DEN {
    background: rgb(0, 0, 29);
}

.SAC {
    background: rgb(87, 11, 138);
}

.PHX {
    background: rgb(121, 0, 190);
}

.DAL {
    background: rgb(0, 36, 196);
}

.LAC {
    background: rgb(0, 14, 75);
}

.LAC .gameCardImage {
    width: 60%; 
 }

.NOP {
    background: rgb(90, 0, 15);
}

.GSW {
    background: rgb(212, 145, 0);
}

.OKC {
    background: rgb(196, 46, 0);
}

.UTA {
    background: rgb(0, 92, 54);
}

.POR {
    background: rgb(100, 0, 0);
}

.LAL {
    background: rgb(61, 9, 182);
}

.LAL .gameCardImage {
    width: 55%; 
 }

.SAS {
    background: rgb(128, 128, 128);
}

.HOU {
    background: rgb(46, 0, 0);
    width: 50%;
}

.HOU .gameCardImage {
    width: 60%; 
 }