*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #1D2C49;
    color: #bdc1c6;
    
}

.off {
    display: none;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fb5924;
    color: #1D2C49;
}

ul {
    list-style: none;

}


.nba-logo {
    margin-left: 15rem;
    width: 15rem;
    height: auto;
}




.navbar__links {
    display: flex;
}

.navbar__links a {
    padding: 0 1rem;
    font-size: larger;
    font-weight:lighter;
}

.navbar__links a:hover {
   color: #fafafa; 
   transition: ease-in-out 0.3s;
   cursor: pointer;
}



.buger {
    display: none;
}

/*SMALL DEVICE  */

@media screen and (max-width: 768px){ 

    .navbar{
        position: fixed;
        justify-content: space-between;
    }

    .nba-logo {
        margin-left: 1rem;
        width: 8rem;
        height: auto;
    }
    
    .navbar__links{
        display: flex;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 10px);
        position: absolute;
        top: 85px;
        right: 0;
        background-color: #0c121d;
        color: #fb5924;
        font-weight: lighter;
        transition:all ease-in-out 0.3s;
    }


    .show-nav .navbar__links{
      width: 100%;  
    }


    .navbar__links a{
       display: block; 
       padding: 2rem;
       padding-left: 3rem;
       font-size: 2rem;
       transition:all ease-in-out 0.3s;
    }

    .navbar__links a:hover{
        padding-left: 4rem;
        
       
    }

    .burger{
        display: block;
        position: relative;
        margin-right: 1rem;
        margin-top: 0.5rem;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }


    .bar {
        display: block;
        margin-top:1rem;
        width: 45px;
        height: 6px;
        background-color: #0c121d;
        border-radius: 3px;
        transition: all ease-in-out 0.3s;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .bar::after, .bar::before {
        content: "";
        width: 45px;
        height: 6px;
        background-color: #0c121d;
        border-radius: 3px;
        position: absolute;
        transition: all ease-in-out 0.3s;
    }
    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar::before {
        transform: rotate(-45deg);
    }

    .show-nav .bar::after {
        transform: rotate(45deg);
    }

}







main {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 2rem 4rem 2rem;
}

@media screen and (max-width: 640px){
   main 
   {padding: 0 0 2rem 0;

   } 
}




.dateWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#0c121d;
height: 4.5rem;
width: 100%;
margin-bottom: 1rem;
}

.dateWrapperButtons {
    display: flex;
}

@media screen and (max-width: 768px){
    
    .dateWrapper {
        margin-top: 5rem;

    }
    
    
    .dateWrapperButtons {
        width: 100%;
    } 
}

.dateWrapperButtons button {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: larger;
    font-family: 'Anton', sans-serif;
    height: 2.6rem;  
    width: 6rem;
    margin: 0;
}





.dateWrapperButtons button:hover {
    cursor: pointer;
    background-color: #1D2C49;
    border-bottom: 1px solid #fb5924;
    ;
    color:white;
    transition: ease-in-out 0.5s;   
}


.selected {
    background-color: #1D2C49;
    border-bottom: 1px solid #fb5924;
    color:white;
}

.no-selected {
    color:#bdc1c6;
    background-color: #0c121d;
    border-bottom: 1px solid #0c121d;
}


.first-section {
    width: 100%;
}

@media screen and (max-width: 640px){
    .first-section {
        margin: 0;
    }  
}

.cardImage {
    height:auto;
    width: 35px;
    
}


/*=====NOUVEAU TABLEAU CLASSEMENTS=====*/
.standingsTable {
    margin-left: auto;
    margin-right:auto ;
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #1D2C49;  
}

@media screen and (max-width: 768px){
    .standingsTable{

        width: 95%;
    } 
 }


thead th:nth-child(1) {
    width: 1%;
  }
  
  thead th:nth-child(2) {
    width: 1%;
    
  }
  
  thead th:nth-child(3) {
    width: 6%;
  }

  thead th:nth-child(4) {
    width: 4%;
  }
  thead th:nth-child(5) {
    width: 4%;
  }
  thead th:nth-child(6) {
    width: 4%;
  }

  thead th:nth-child(7) {
    width: 4%;
  }

  th, td {
    padding: 0.5rem;
    text-align: center;
  }

tbody tr:nth-child(6) {
    border-bottom: #bdc1c6 1px dotted;
}

tbody tr:nth-child(10) {
    border-bottom: #bdc1c6 1px solid;
}

tbody tr:nth-child(15) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
 }

tbody tr:nth-child(odd) {
    background-color: #121b2e;    
  }
  
tbody tr:nth-child(even) {
    
    background-color: #0c121d;
  }

  tbody tr:hover {
    color:white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color:#121b2e;
  }

.cardElements{
    height: 4rem;
    font-size: 20px;
}

@media screen and (max-width: 640px){
    .cardRank {
        font-size: 14px;
    }
    
    .cardName {
        font-size: 14px;
    }

    .cardWin {
        font-size: 14px;
    }

    .cardLost {
        font-size: 14px;
    }
    .cardPercentage {
        font-size: 14px;
    }

}




/*=====TABLEAU D'UN MATCH=====*/


.headGame {
    border-radius: 7px;
    background-color: #0c121d;
    display: flex;
    justify-content: space-between;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem; 
}

.headGame p {
    font-size: 50px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}


.headGameHome {
    display: flex;
    align-items: center;

}

.headGameImageHome {
    height:auto;
    width: 100px;
    
}

.gameHomeTeamName{
    width: 17rem;
}


.headGameVisitor {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    

}

.headGameImageVisitor {
    height:auto;
    width: 100px;
    
    
}

.gameVisitorTeamName{
    width: 17rem;
}

.gameContainer {
    display: flex;
}

@media screen and (max-width: 768px){
    

    .headGame {
    width: 85%;
    }

    .headGameImageHome {
        height:auto;
        width: 70px;
        
    }
    
    .headGameImageVisitor {
        height:auto;
        width: 70px;
    }
     
    .headGame p {
        font-size: 30px;
    }

    
    .gameContainer {
       
        flex-direction: column;
    }

}

.oneGameTableHome{
    margin-left: auto;
    margin-right:1rem ;
    table-layout: fixed;
    width: 31%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #0c121d; 
    font-size: 18px;
}


@media screen and (max-width: 768px){
    .oneGameTableHome{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

}

.oneGameTableHome th:nth-child(1){
    text-align: left;
}

.oneGameTableHome thead th:nth-child(1) {
    width: 10%;
    
  }

.oneGameTableHome thead th:nth-child(2) {
    width: 0.5%;
}

.oneGameTableHome thead th:nth-child(3) {
    width: 0.5%;
}

.oneGameTableHome thead th:nth-child(4) {
    width: 0.5%;
}




.oneGameTableVisitor{
    margin-left: 1rem;
    margin-right:auto ;
    table-layout: fixed;
    width: 31%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color:#0c121d;
    font-size: 18px; 
}

@media screen and (max-width: 768px){

    .oneGameTableVisitor{
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        width: 90%; 
    }

}

.oneGameTableVisitor th:nth-child(1){
    text-align: left;
}

.oneGameTableVisitor thead th:nth-child(1) {
    width: 10%;
    
  }

.oneGameTableVisitor thead th:nth-child(2) {
    width: 0.5%;
}

.oneGameTableVisitor thead th:nth-child(3) {
    width: 0.5%;
}

.oneGameTableVisitor thead th:nth-child(4) {
    width: 0.5%;
}





/*=====CSS POUR LES MATCHS=====*/

.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0.5rem 5rem 2rem 5rem ;
}

@media screen and (max-width:640px){
    .games {
        margin:  0.5rem 0 0.5rem 0 ;
    }
}


.no-game{
    font-size: 20px;
}



.gameCardButton {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: center;
    color:#bbbbbb;
    letter-spacing: 2px;
    margin: 0.5rem;
    font-family: 'Anton', sans-serif;
    width: 25rem;
}

.gameCardButton:hover {
    cursor: pointer;
}


.homeTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 12rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(44, 0, 0);
}

@media screen and (max-width:640px){
    .homeTeam {
        height: 8rem;
    }
}

.visitorTeam {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 50%;
    height: 12rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(0, 108, 209);
}

@media screen and (max-width:640px){
    .visitorTeam {
        height: 8rem;
    }
}



.gameData {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.2rem;
}

.gameData p {
    display: flex;
    font-weight: bold;
    font-size: 50px;
}

@media screen and (max-width: 640px){
    .gameData p {
        font-size: 35px;
    }
}


.homeTeamScore {
    font-size: x-large;
}


.visitorTeamScore {
    font-size: x-large;
}

.gameCardImage{
    width: 50%;
    margin: auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
   
}

/*BACKGROUND COLORS DE CHAQUE EQUIPE*/


/*CONF EST*/
.BOS {
    background: rgb(0, 129, 11);
}

.MIL {
    background: rgb(0, 75, 16);
}

.PHI{
    background: rgb(29, 116, 216);
}

.CLE{
    background: rgb(44, 0, 0);
}

.CLE .gameCardImage {
   width: 40%; 
}


.BKN{
    background: rgb(39, 39, 39);
}

.BKN .gameCardImage {
    width: 40%; 
 }


.MIA{
    background: rgb(77, 0, 0);
}

.NYK{
    background: rgb(216, 86, 0);
}

.NKK .gameCardImage {
    width: 90%; 
 }

.ATL{
    background: rgb(255, 40, 40);
}

.WAS{
    background: rgb(255, 255, 255);
}

.TOR{
    background: rgb(24, 24, 24);
}

.CHI{
    background: rgb(165, 0, 0);
}

.IND {
    background: rgb(212, 156, 0);
}

.ORL{
    background: rgb(0, 108, 209);
}

.CHA {
    background: rgb(0, 160, 172);
}

.DET {
    background: rgb(0, 5, 82);
}

/*CONF OUEST*/
.MEM {
    background: rgb(0, 26, 73);
}

.MIN {
    background: rgb(0, 63, 134);
}

.DEN {
    background: rgb(0, 0, 29);
}

.SAC {
    background: rgb(87, 11, 138);
}

.PHX {
    background: rgb(121, 0, 190);
}

.DAL {
    background: rgb(0, 36, 196);
}

.LAC {
    background: rgb(0, 22, 122);
}

.NOP {
    background: rgb(90, 0, 15);
}

.GSW {
    background: rgb(255, 219, 14);
}

.OKC {
    background: rgb(196, 46, 0);
}

.UTA {
    background: rgb(0, 53, 26);
}

.POR {
    background: rgb(55, 0, 0);
}

.LAL {
    background: rgb(39, 0, 131);
}

.SAS {
    background: rgb(128, 128, 128);
}

.HOU {
    background: rgb(46, 0, 0);
}

.HOU .gameCardImage {
    width: 60%; 
 }