*{
    margin: 0;
    padding: 0;
}

:root {
    --main-color:#0c121d;
    --second-color: #fb5924;
    --button-color: #10192b;
    --main-police: 'Outfit', sans-serif;
}

body {
    font-family: var(--main-police);
    background-color: var(--main-color);
    color: #bdc1c6;
    
}



.clicked {
    font-family: var(--main-police);
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.selected {
    background-color: var(--button-color);
    border-radius: 8px;
    border: 1px solid var(--second-color);
    color:white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.no-selected {
    color:#8d8d8d;
    background-color: transparent;
    border-bottom: 0px;
}

.off {
    display: none;
}

.loader-container.hidden {   

    opacity: 0;
    visibility: hidden;
}

.logoHead {
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    color: white;
}

.gamesMonthAndYear{
    font-family: var(--main-police);
    font-weight: Bold;
    font-size: 16px;
    color: white;
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.loader-container p {
    font-family: var(--main-police);
    font-size: 30px;
    color:#bdc1c6;
    margin-top: 15rem;
}

.loader {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    border: 20px solid var(--second-color);
    border-radius: 50%;
    border-top: 20px solid #1D2C49;
    animation: loading 2s ease infinite;
}

@keyframes loading {
   from {
    transform: rotate(0turn);
   }
   to{
    transform: rotate(1turn);
   }     
}

.menuBar {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 15px;
    background-color:var(--second-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

ul {
    list-style: none;

}


.nba-logo {
    margin-left: 15rem;
    width: 15rem;
    height: auto;
}




.navbar__links {
    display: flex;
}

.navbar__links a {
    padding: 0 1rem;
    font-family:var(--main-police) ;
    font-size: larger;
    font-weight:300;
    color:var(--main-color);
}

.navbar__links a:hover {
   color: #fafafa; 
   transition: ease-in-out 0.3s;
   cursor: pointer;
}



.buger {
    display: none;
}

/*SMALL DEVICE  */

@media screen and (max-width: 768px){ 

    .navbar{
        position: fixed;
        justify-content: center;
        bottom:0;
    }

    .nba-logo {
        margin-left: 1rem;
        width: 6rem;
        height: auto;
    }
    
    .navbar__links a {
        padding: 0 1rem;
        
    }

}







main {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 2rem 4rem 2rem;
}

@media screen and (max-width: 640px){
   main 
   {padding: 0 0 0.5rem 0;

   } 
}



.dateWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 100%;
margin-bottom: 0.5rem;
}

.dateWrapperButtons {
    display: flex;
}

.dateWrapperButtons button {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 22px;
    font-family: var(--main-police);
    font-weight: bold;
    height: 2.6rem;  
    width: 8rem;
    margin: 0;
}


@media screen and (max-width: 768px){
    
    .dateWrapper {
        margin-top: 1rem;

    }
    
    
    .dateWrapperButtons {
        width: 100%;
        justify-content: center;
    } 
}







.dateWrapperButtons button:hover {
    cursor: pointer;
    background-color: var(--button-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 8px;
    color:white;
    transition: ease-in-out 0.5s;   
}





.first-section {
    width: 100%;
    margin-bottom: 5rem;
}

.second-section {
    margin-bottom: 5rem;
}



.fourth-section__container {
    display: flex;
    flex-direction: column;
    margin: 3rem 5rem 3rem 5rem;
    align-items: center;
    justify-content: center;
    font-family: var(--main-police);
    color:#bdc1c6;
    border-radius: 8px;
    transition: all ease-in-out 0.5s;
}




@media screen and (max-width: 640px){
    .first-section {
        margin: 0;
    }  

    .fourth-section__container {
      margin: 1rem 0.5rem 1rem 0.5rem;  
    }
}

.cardImage {
    height:auto;
    width: 35px;
    
}


/*=====NOUVEAU TABLEAU CLASSEMENTS=====*/
.standingsTable {
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 6rem;
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #05070c;  
}

@media screen and (max-width: 768px){
    .standingsTable{

        width: 98%;
    } 
 }


 .standingsTable thead th:nth-child(1) {
    width: 0.2%;
  }
  
  .standingsTable thead th:nth-child(2) {
    width: 2%;
    
  }
  
  .standingsTable thead th:nth-child(3) {
    width: 3%;
    
  }

  .standingsTable thead th:nth-child(4) {
    width: 0.5%;
  }

  .standingsTable thead th:nth-child(5) {
    width: 0.5%;
  }
  .standingsTable thead th:nth-child(6) {
    width: 1%;
  }

  .standingsTable thead th:nth-child(7) {
    width: 1%;
  }

  th, td {
    padding: 0.5rem;
    text-align: center;
  }

  .standingsTable tbody tr:nth-child(6) {
    border-bottom: #bdc1c6 1px dotted;
}

.standingsTable tbody tr:nth-child(10) {
    border-bottom: #bdc1c6 1px solid;
}

.standingsTable tbody tr:nth-child(odd) {
    background-color: #1d2c49;    
  }
  
.standingsTable tbody tr:nth-child(even) {
    
    background-color: #19263d;
  }

.standingsTable tbody tr:hover {
    color:white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color:#05070c;
  }

.cardElements{
    height: 4rem;
    font-size: 20px;
}

.cardName {
    text-align: left;
}

@media screen and (max-width: 640px){
    .cardRank {
        font-size: 14px;
    }
    
    .cardName {
        font-size: 12px;
        font-weight: normal;
        text-align: left;
    }

    .cardWin {
        font-size: 14px;
    }

    .cardLost {
        font-size: 14px;
    }
    .cardPercentage {
        font-size: 14px;
        margin-right: 3px;
    }

}

/*====TABLEAU D'UNE EQUIPE====*/

.teamSelected{
    margin: 1rem;
    background-color: #05070cea;  
    padding:  0.5rem 5rem 0.5rem 5rem;
    border-radius: 7px;
    font-size: 25px;
}


.teamTable {
    margin: 0.5rem auto 1rem auto;
    table-layout: fixed;
    padding-bottom: 2rem;
    width: 60%;
    border-collapse: collapse;
    border-radius: 7px;
    background-color: #05070cea;  
}

.headTeamCol {
    font-size: 20px;
    font-weight: normal;
}

.headTeamTable th:nth-child(1) {
    width: 6%;
  }

.headTeamTable th:nth-child(2) {
    width: 15%;
  }
  
.headTeamTable th:nth-child(3) {
    width: 8%;
  }
  
.headTeamTable th:nth-child(4) {
    width: 3%;
  }

.cardTeamElements{
    font-size: 16px;
    font-weight: normal;
}

.bodyTeamTable tr:nth-child(odd) {
    background-color: #1616169d;    
  }
  
.bodyTeamTable tr:nth-child(even) {
    
    background-color: #111111a1;
  }

  .bodyTeamTable tr:hover {
    color:white;
    transition: ease-in-out 0.3s;
    background-color:#05070c;
  }









  .cardTeamFirstName , .cardTeamLastName {
    text-align: left; 
    }
    .cardTeamFirstName , .cardTeamLastName, .cardTeamBirth , .cardTeamCountry {
        font-size: 20px;
        
    }  

@media screen and (max-width: 768px){

    .teamSelected {
        padding:  0.5rem 1rem 0.5rem 1rem;
        margin: 0.5rem auto 1rem auto;
    }

    .teamTable{
        font-weight:lighter;
        width: 95%;
    }
    
    .headTeamCol {
        font-size: 12px;
        
    }

    .cardTeamFirstName , .cardTeamLastName, .cardTeamBirth , .cardTeamCountry {
        font-weight: normal;
        
    }
 }



/*=====TABLEAU D'UN MATCH=====*/



.gameContainer {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

@media screen and (max-width: 768px){
    

      
    .gameContainer {
       
        flex-direction: column;
        width: 95%;
    }

}

.gameTable  {
    margin-left: auto;
    margin-right:auto ;
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: #05070c; 
    font-size: 18px;

}





.bodyGameTable tr:nth-child(odd)  {
    background-color: #1d2c49;    
  }
  
.bodyGameTable tr:nth-child(even){
    
    background-color: #19263d;
  }



.bodyGameTable tr:hover{
    color:white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color:#05070c;
  }




.playerLogo {
    width: 35px;
    height: auto;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px){
    .gameTable ,   .gameTableHome {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 12px;
        font-weight: normal;
    }

}

.gameTable th:nth-child(1){
    text-align: center;
}

.gameTable th:nth-child(2) {
    text-align: left;
}

.gameTable thead th:nth-child(1)  {
    width: 0.2%;
    
  }

.gameTable thead th:nth-child(2)  {
    width: 8%;
}

.gameTable thead th:nth-child(3) {
    width: 0.5%;
}

.gameTable thead th:nth-child(4){
    width: 0.5%;
}

.gameTable thead th:nth-child(5) {
    width: 0.5%;
}

.gameTable tbody tr:nth-child(6) {
    border-bottom: none;
}

.gameTable tbody tr:nth-child(10) {
    border-bottom: none;
}


/*=====CSS POUR LES MATCHS=====*/





.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0.5rem 5rem 2rem 5rem ;
}


@media screen and (max-width:640px){
    .games {
        margin:  0 0 0.5rem 0 ;
    }
}

.idGame {
  display: none;     
}

.no-game{
    font-family: var(--main-police);
    font-size: 30px;
}



.gameCardButton {
    
    display: flex;
    flex-direction: column;
    color:rgb(233, 233, 233);
    font-family: var(--main-police);
    margin: 0.5rem;
    width: 25rem;
    transition: all ease-in-out 0.3s;
   
    
}

.gameCardTeams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: var(--button-color);
    border: none; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 1rem;
}

.boxScore {
    
    background-color: var(--second-color);
    border-radius: 15px;
    color:rgb(233, 233, 233);
    font-family: var(--main-police);
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 30%;
    margin: auto;
    text-align: center;
    
}

.boxScore:hover {
    color:var(--main-color);
    transition: ease-in-out 0.3s;
    
 }

.boxScoreP {
    padding-top: 0.5rem;

} 

@media screen and (max-width:640px){
    
}

.gameCardButton.off {
    display: none;
}



.gameHour{
    display: none;
    font-size: 30px;
    padding: 4rem 0.5rem 3rem 0.5rem;

}

@media screen and (max-width:640px){
    .gameHour {
        padding: 2.5rem 0.5rem 1rem 0.5rem;
    }
}

.homeTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 7rem;    
    background-position: right;
   
}


.visitorTeam {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 7rem;
    background-position: left;
   
}



.gameData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0.2rem;
    
}

.gameData p {
    display: flex;
    font-weight: bold;
    text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), -3px 0px 7px rgba(0, 0, 0, 0.8), 0px 4px 7px rgba(0, 0, 0, 0.8);
}

.homeTeamScore {
    margin-top: 1rem;
    margin-right: 5rem;
    font-size: 50px;
}

.visitorTeamScore {
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 50px;
}

.visitorTeamNickname, .homeTeamNickname {
    font-size: 12px;
}

.visitorTeamNickname{
    margin-left: auto;
    margin-right: 6rem;
    padding-top: 1rem;
}

.homeTeamNickname {
    margin-left: 6rem;
    margin-right: auto;
    padding-top: 1rem;
}

@media screen and (max-width: 640px){
    
    .visitorTeamNickname{
        margin-left: auto;
        margin-right: 5rem;
        margin-top:1rem;
    }
    
    .homeTeamNickname {
        margin-left: 5rem;
        margin-right: auto;
        margin-top:1rem;
    }


}






.gameCardImageVisitor , .gameCardImageHome{
    width: 50%;
    margin: auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
   
}

/*BACKGROUND COLORS DE CHAQUE EQUIPE*/



/*CONF EST*/
.BOS {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612738/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.MIL {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612749/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.PHI{
   
    background-image: url(https://cdn.nba.com/logos/nba/1610612755/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.CLE{
   
    background-image: url(https://cdn.nba.com/logos/nba/1610612739/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.BKN{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612751/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.MIA{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612748/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.NYK{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612752/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.ATL{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612737/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.WAS{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612764/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.TOR{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612761/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.CHI{
   
    background-image: url(https://cdn.nba.com/logos/nba/1610612741/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.IND {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612754/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.ORL{
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612753/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.CHA {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612766/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.DET {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612765/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*CONF OUEST*/
.MEM {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612763/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.MIN {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612750/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.DEN {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612743/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.SAC {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612758/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.PHX {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612756/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.DAL {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612742/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.LAC {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612746/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.NOP {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612740/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.GSW {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612744/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.OKC {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612760/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.UTA {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612762/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.POR {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612757/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.LAL {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612747/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.SAS {
   
    background-image: url(https://cdn.nba.com/logos/nba/1610612759/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.HOU {
    
    background-image: url(https://cdn.nba.com/logos/nba/1610612745/primary/L/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
